

/* ======== Quote & Booking Buttons============= */

.booking-form{
    margin: 5% 5% 5% 5%;
    align-items: center;
    background-color: var(--second-color-dark);
    justify-items: center;
}
.form-group{
    width: 60%;
    box-sizing: border-box;
    padding: 0;
}
#repair-prices{
  font-size: 1.3rem;
  width: 120%;
}

form{
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem;
  width: 90%;
  border-radius: 10px;
  gap: 10px;
  list-style: none;
}

form input, form textarea, form select, form option{
  width: 100%;
  border: none;
  border-radius: 10px;
  margin: 10px 10px 10px 20px;
  padding: 20px;
  outline: none;
  font-size: 1.6rem;
  font-family: var(--body-font);
  cursor: pointer;
}
input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }


#overlay{
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active{
  z-index: 6;
  pointer-events: all;
  opacity: 1;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 540px){
    .booking-form{
        margin: 15% 15% 15% 0;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--second-color-dark);
    }
    .form-group{
        width: 300px;
        margin: 5% 5% 5% 5%;
    }

    .quote__header{
        font-size: 1.2rem;
    }
    #repair-prices{
      font-size: 1rem;
      width: 120%;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
      }
      
    
    form{
      display: flex;
      flex-direction: column;
      padding: 3rem 5rem;
      width: 100%;
      border-radius: 10px;
      gap: 10px;
      list-style: none;
    }
    
    form input, form textarea, form select, form option{
      width: 250px;
      height: 50px;
      border: none;
      border-radius: 10px;
      margin: 10px 10px 10px 20px;
      padding: 0 10px 0;
      outline: none;
      font-size: .8rem;
      font-family: var(--body-font);
      cursor: pointer;
    }

}


/* ========= For medium devices ============== */
@media screen and (min-width: 540px) and (max-width: 767px){
  

}


@media screen and (min-width: 768px) and (max-width: 1150px){




/* ======================== */
    
    form{
        display: flex;
        flex-direction: column;
        padding: 3rem 5rem;
        list-style: none;
    }
      
    form input, form textarea, form select, form option{
        width: 350px;
        height: 50px;
        border: none;
        border-radius: 10px;
        margin: 10px 10px 10px 20px;
        padding: 0 10px 0;
        outline: none;
        font-size: .8rem;
        font-family: var(--body-font);
        cursor: pointer;
    }
      
}

/* ============== For large devices =================== */
@media screen and (min-width: 1150px){
    .nav{
        height: calc(var(--header-height) + 2rem);
      }
    
      .nav__toggle,
      .nav__close{
        display: none;
      }
    
      .nav__link{
        font-size: var(--normal-font-size);
      }
      .nav__menu{
        display: flex;
        column-gap: 3rem;
        align-items: center;
      }
      .nav__list{
        flex-direction: row;
        column-gap: 4rem;
      }

}



